cirq==1.6.1
Cython==3.2.2
galois==0.4.6
ldpc @ git+https://github.com/quantumgizmos/ldpc.git
matplotlib==3.10.5
mitiq==0.48.1
networkx==3.5
numpy==1.26.4
parse==1.20.2
PyMatching==2.3.0
qLDPC==0.2.6
setuptools==80.9.0
sinter==1.15.0
stim==1.15.0
stim-surface-code @ git+https://github.com/jasonchadwick/stim_surface_code@4d1d9eb00be746cce0500fd911a8c2f04d185fda
sympy==1.14.0
tqdm==4.67.1
z3-solver==4.15.1.0
